.mat-toolbar {
  margin-bottom: 33px;
  height: auto;
  justify-content: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: var(--basic-color);
  background-color: transparent;
  border-bottom: none;

  @media (max-width: 767px) {
    margin-bottom: 23px;
    font-size: 28px;
    line-height: 36px;
  }
}

mat-card.mat-card:not([class*='mat-elevation-z']) {
  padding: 20px 20px 0;
}

mat-form-field {
  mat-icon {
    cursor: pointer;
  }
}

mat-error {
  position: relative;
}
