<section>
  <h1 class="h0">{{ 'TITLE_NEW_PASS' | translate }}</h1>
  <form
    class="display-flex-column"
    *ngIf="userData"
    [formGroup]="setPassForm"
    (ngSubmit)="onSubmit()"
  >
    <p-card class="auth__form mb">
      <div class="custom-form-field">
        <label class="custom-form-field__label">{{
          'VALIDATOR_PASSWORD_NEW' | translate
        }}</label>
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          [formField]="setPassForm"
          formControlName="newPass"
        ></p-password>
      </div>
      <div class="custom-form-field comment">
        <div class="comment__text">
          <span>&#8226;</span> {{ 'LATIN_ONLY' | translate }}
        </div>
        <div class="comment__text">
          <span>&#8226;</span> {{ 'NEED_LOWER_CASE' | translate }}
        </div>
        <div class="comment__text">
          <span>&#8226;</span> {{ 'NEED_UPPER_CASE' | translate }}
        </div>
        <div class="comment__text">
          <span>&#8226;</span> {{ 'NEED_LENGTH_8' | translate }}
        </div>
        <div class="comment__text">
          <span>&#8226;</span> {{ 'NEED_SYMBOL_CASE' | translate }}
        </div>
      </div>
    </p-card>
    <button
      pButton
      label="{{ 'BUTTON_SAVE' | translate }}"
      type="submit"
      class="full mb-20"
      [disabled]="loading"
    ></button>
    <button
      pButton
      routerLink=""
      class="p-button-link"
      label="{{ 'AUTH_BACK_LINK' | translate }}"
    ></button>
  </form>
</section>
