# # Адрес публикации
EMPL_DATABASE_URL=https://empl-dev.test-wa.ru/data

# # Basic авторизация
# # Пользователь
# #EMPL_DATABASE_USER=test

# # Пароль
# #EMPL_DATABASE_PASSWORD=test

# # Web Server

# #EMPL_SSL_CERT=/path/to/ssl/cert.crt
# #EMPL_SSL_KEY=/path/to/ssl/key.pem

# # Домен веб-сервера
# EMPL_DOMAIN=localhost

# Настройки пушей
# PUSHES_WEB_PUSH_PUBLIC_KEY: ""
# PUSHES_WEB_PUSH_PRIVATE_KEY: ""
# PUSHES_WEB_PUSH_EMAIL: ""