<div class="main-container">
  <div class="scroll-container">
    <div class="content">
      <div class="empty-space"></div>

      <!-- Картинка с собачкой Доки и числом 404 -->
      <img
        src="./assets/img/special-pages/db-update-dog.png"
        width="581"
        height="333"
        alt="database update dog image"
      />

      <!-- Надпись "Идет обновление базы 1С:ЗУП" -->
      <h2 class="font-size-28px">
        {{ 'ZUP_DATABASE_UPDATE' | translate }}
      </h2>

      <!-- Надпись "Обычно это занимает около 20 минут" -->
      <span class="description flex mt-8 mb-30">
        {{ 'ZUP_DATABASE_UPDATE_DESCRIPTION' | translate }}
      </span>

      <!-- Кнопка "Вернуться на главную" -->
      <button
        pButton
        [routerLink]="['/']"
        [label]="'BUTTON_GO_INDEX' | translate"
      ></button>

      <div class="empty-space"></div>
    </div>
  </div>
</div>
