.grouped-list-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 16px 12px;
  background: #F8F9FA;
  color: #495057;
  border-radius: 3px 3px 0px 0px;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #E9ECEF;
}
