<div class="validation-container">
  <div class="validation-container__description">
    {{ 'PROFILE_USE_PASSWORD_FOR_El_SIGNATURE' | translate }}
  </div>
  <div class="validation-container__form">
    <fpc
      [formData]="fpcConfig"
      (formSubmit)="validate($event)"
      [submit$]="submitForm$"
    ></fpc>
  </div>
  <p-toolbar class="margin-top">
    <p-button
      label="{{ 'SIGNATURE_SIGN' | translate }}"
      [loading]="loading | async"
      (onClick)="submitForm$.next()"
    ></p-button>
  </p-toolbar>
</div>
