.col-6 {
  flex: 0 0 49%;
  max-width: 49%;
  padding: 0;

  @media (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.mat-form-field-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.pass-match {
  position: absolute;
  right: 20px;
}

button {
  margin-top: 0 !important;
  @media (max-width: 767px) {
    width: 100%;
  }
}

mat-card.mat-card:not([class*='mat-elevation-z']) {
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    margin-right: -15px;
    margin-left: -15px;
  }
}

mat-toolbar {
  height: auto;
}

mat-form-field {
  mat-icon {
    cursor: pointer;
  }
}
