<p-card>
  <h3>
    {{ 'PROFILE_CHANGE_PASSWORD' | translate }}
  </h3>
  <form
    class="row row-form"
    [formGroup]="changePassForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="custom-form-field col-md-12 col-xl-12">
      <label class="custom-form-field__label">{{
        'PASSWORD_CURRENT' | translate
      }}</label>
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        [formField]="changePassForm"
        formControlName="oldPass"
      ></p-password>
    </div>

    <div class="custom-form-field col-md-12 col-xl-6">
      <label class="custom-form-field__label">{{
        'PASSWORD_NEW' | translate
      }}</label>
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        [formField]="changePassForm"
        formControlName="newPass"
      ></p-password>
    </div>

    <div class="custom-form-field col-md-12 col-xl-6">
      <label class="custom-form-field__label">{{
        'PASSWORD_CONFIRM' | translate
      }}</label>
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        [formField]="changePassForm"
        formControlName="confirmPass"
      ></p-password>
    </div>

    <p-toolbar class="col-12 margin-top">
      <div class="spacer"></div>
      <button
        pButton
        label="{{ 'BUTTON_SAVE' | translate }}"
        type="submit"
        [disabled]="loading"
      ></button>
    </p-toolbar>
  </form>
</p-card>
