<fpc-prime
  [daysOff]="daysOffFacade.getData() || (daysOffFacade.getData$() | async)"
  [schedule]="scheduleListFacade.getData() || (scheduleListFacade.getData$() | async)"
  [staticData]="staticDataFacade.getData() || (staticDataFacade.getData$() | async)"
  [staticDataManager]="staticDataManagerFacade.getData() || (staticDataManagerFacade.getData$() | async)"
  [formData$]="formData$"
  [formData]="formData"
  [dateLocale]="dateLocale || langFacade.getLang()"
  [loading]="loading"
  [edit$]="edit$"
  [submit$]="submit$"
  [hasInitialPatching]="hasInitialPatching"
  [fileOpeningInProcess]="issuesFormFileFacade.loading$() | async"
  [clear$]="clear$"
  [fileBase64]="fileBase64 || (issuesFormFileFacade.getData$() | async)"
  (formSubmit)="onSubmit($event)"
  (formSubmitFailed)="onSubmitFailed($event)"
  (getFile)="getFile($event)"
  (getStaticFile)="openStaticFile($event)"
  [selectOptions]="optionListFacade.getData$() | async"
  (isInvalid)="onInvalid($event)"
  (showOptions)="onShowOptions($event)"
  (valueChanged)="onValueChanged($event)"
  (employeeChanged)="onEmployeeChanged($event)"
  (formBuilt)="onFormBuilt($event)"
></fpc-prime>
