<div class="container-fluid">
  <div class="row">
    <p-toolbar class="title nowrap">
      <button
        pButton class="p-button-rounded p-button-outlined" icon="pi pi-arrow-left" (click)="onBackPage()"
      ></button>
      <h1>
        {{ issuesType?.FullName }}
      </h1>
    </p-toolbar>
  </div>
</div>
<div
  class="p-0 unscheduled-vacation-form"
>
  <div class="balance-mobile" *ngIf="vacationBalance">
    {{ 'VACATION_BALANCE_TOTAL' | translate }}
    : <span class="link">{{ vacationBalance.vacationsTotal }} {{ 'PLURAL_DAYS' | translate }}</span>
    <i class="pi pi-question-circle question-icon" (click)="changeMobileTooltip(); $event.stopPropagation()"></i>
    <div class="balance-tooltip" *ngIf="isOpenMobileTooltip">
      {{ 'VACATION_BALANCE_TOTAL' | translate }}:
      <span class="link">{{ vacationBalance.vacationsTotal }} {{ 'PLURAL_DAYS' | translate }}</span>
      <ul class="list">
        <li *ngFor="let vac of vacationBalance.vacations">{{ vac.vacationName }}
        : <span class="link">{{ vac.vacationBalance }}</span></li>
      </ul>
    </div>
  </div>
  <p-card>

  <div [formGroup]="form">
    <div formArrayName="overtimeWork">
      <div *ngFor="let _ of controls; let i = index" [formGroupName]="i">
        <div class="row p-fluid">
          <div class="col-12">
            <div class="label-row">
              <label
                class="custom-form-field__label"
              >
                {{ 'TYPE_OF_VACATION' | translate }}
              </label>
              <i
                *ngIf="controls.length > 1" class="pi pi-times" (click)="removeRow(i)"
              ></i>
            </div>

            <p-dropdown
              [formField]="controls[i]"
              [options]="vacationBalance?.vacations"
              optionLabel="vacationName"
              formControlName="vacationTypeID"
              optionValue="vacationID"
              placeholder="{{ 'TYPE_OF_VACATION_PLACEHOLDER' | translate }}"
              (ngModelChange)="changeVacationType(i)"
            ></p-dropdown>
          </div>
        </div>
        <div class="row p-fluid">
          <div [class]=" isMobile ? 'col-12' : 'col-6'">
            <label
              class="custom-form-field__label"
            >
              {{ 'VACATION_START' | translate }}
            </label>
            <p-calendar
              [formField]="controls[i]"
              [firstDayOfWeek]="1"
              [showIcon]="true"
              inputId="dateBegin"
              [selectOtherMonths]="true"
              formControlName="dateBegin"
              [readonlyInput]="isMobile"
              [minDate]="minDateBegin ? minDateBegin : null"
              [maxDate]="maxDateBegin ? maxDateBegin : null"
              (ngModelChange)="changeDateValue($event, i); changeWeekendCount(i)"
              appendTo="body"
            >
              <ng-template pTemplate="date" let-date>
                <span class="flex day-of-month" [ngClass]="{'weekend': isWeekend(dateMeta2Date(date)), 'holiday': isHoliday(dateMeta2Date(date))}">
                  {{ date.day }}
                </span>
              </ng-template>
            </p-calendar>
            <div
              *ngIf="weekendCount[i].vacationBalance" class="text-info remainder"
            >
              {{ 'VACATION_BALANCE_BY_START' | translate }}:
              <span class="link">
                {{ weekendCount[i].vacationBalance }} {{ 'PLURAL_DAYS' | translate }}
              </span>
            </div>
          </div>
          <div [class]=" isMobile ? 'col-12' : 'col-6'">
            <label
              class="custom-form-field__label"
            >
              {{ 'VACATION_END' | translate }}
            </label>
            <p-calendar
              [formField]="controls[i]"
              [firstDayOfWeek]="1"
              [showIcon]="true"
              inputId="dateEnd"
              [selectOtherMonths]="true"
              formControlName="dateEnd"
              [readonlyInput]="isMobile"
              [minDate]="minDateEnd ? minDateEnd : controls[i].controls.dateBegin.value"
              [maxDate]="maxDateEnd ? maxDateEnd : null"
              (ngModelChange)="changeEndDateValue($event, i);changeWeekendCount(i)"
              [defaultDate]="controls[i].controls.dateBegin.value"
              appendTo="body"
            >
              <ng-template pTemplate="date" let-date>
                  <span [ngClass]="{'weekend': isWeekend(date)}">
                    {{ date.day }}
                  </span>
              </ng-template>
            </p-calendar>
            <div
              *ngIf="weekendCount[i].vacationBalance" class="text-info remainder"
            >
              {{ 'VACATION_BALANCE_BY_END' | translate }}:
              <span class="link">
                {{ weekendCount[i].vacationBalance - weekendCount[i].weekend - weekendCount[i].work }} {{ 'PLURAL_DAYS' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div>
          <p-divider></p-divider>
          <div
            *ngIf="controls[i].controls.dateBegin.value && controls[i].controls.dateEnd.value"
            class="text-info info-total"
          >
            <span
              *pluralize="
                weekendCount[i].weekend + weekendCount[i].work;
                forms: ['ONE_DAY', 'TWO_DAYS', 'PLURAL_DAYS'];
                let value
              "
            >
              {{ weekendCount[i].weekend + weekendCount[i].work }}
              {{ value | translate }}
            </span> (
            <span
              *pluralize="
                weekendCount[i].work;
                forms: ['ONE_WORKDAY', 'TWO_WORKDAYS', 'PLURAL_WORKDAYS'];
                let value
              "
            >
              {{ weekendCount[i].work }}
              {{ value | translate }}
            </span>,
            <span
              *pluralize="
                weekendCount[i].weekend;
                forms: ['ONE_DAYOFF', 'TWO_DAYSOFF', 'PLURAL_DAYSOFF'];
                let value
              "
            >
              {{ weekendCount[i].weekend }}
              {{ value | translate }}
            </span>,
            <span
              *pluralize="
                weekendCount[i].holidays;
                forms: ['ONE_HOLIDAY', 'TWO_HOLIDAY', 'PLURAL_HOLIDAY'];
                let value
              "
            >
              {{ weekendCount[i].holidays }}
              {{ value | translate }}
            </span> )
          </div>
        </div>
      </div>
    </div>
  </div>


    <div [class]=" isMobile ? 'p-fluid' : ''">
      <button
        pButton
        class="p-button-outlined add-button"
        label="{{ 'ADD_VACATION_TYPE' | translate }}"
        icon="pi pi-plus"
        iconPos="left"
        (click)="addRow()"
      >
      </button>
    </div>

    <div class="templated-form">
      <fpc
        [formData$]="sourceFormData$"
        [dateLocale]="dateLocale"
        [loading]="loading"
        (formBuilt)="onFormBuilt($event)"
        [submit$]="submit$"
        class="m-t-15 additional-fields p-0"
      ></fpc>
    </div>

    <p-toolbar class="buttons no-margin">
      <button
        pButton
        label="{{ 'BUTTON_SEND' | translate }}"
        class="col-12 col-md-auto mr-10"
        type="submit"
        [disabled]="loading || !isFormValid()"
        (click)="onSubmit()"
      ></button>
      <button
        pButton
        label="{{ 'BUTTON_CANCEL' | translate }}"
        class="col-12 col-md-auto p-button-outlined"
        [routerLink]="['', 'issues', 'types']"
      ></button>
    </p-toolbar>
  </p-card>
  <div>
    <div class="balance" *ngIf="vacationBalance">
      {{ 'VACATION_BALANCE_TOTAL' | translate }}
      {{ 'EMPLOYEE_VACATIONS_OF' | translate }}
      {{ currentDay | date: 'dd.MM.yyyy' }}:
      <span class="link">{{ vacationBalance.vacationsTotal }} {{ 'PLURAL_DAYS' | translate }}</span>
      <ul class="list">
        <li *ngFor="let vac of vacationBalance.vacations">{{ vac.vacationName }}
        : <span class="link">{{ vac.vacationBalance }}</span></li>
      </ul>
    </div>
    <div class="approver-title">
      <app-item-list
        [items]="employeeDataModded" font="13px"
      ></app-item-list>
    </div>
    <div *ngIf="employeesApprovingPersons?.length" class="approver-title">
      <span *ngIf="employeesApprovingPersons.length === 1">{{ 'EMPLOYEE_APPROVER' | translate }}</span>
      <span *ngIf="employeesApprovingPersons.length > 1">{{ 'EMPLOYEE_APPROVERS' | translate }}</span>
      :
      <div *ngFor="let approvePerson of employeesApprovingPersons" class="value">
        {{ approvePerson }}
      </div>
    </div>
    <div class="approver-title">
      <app-item-link-list
        [items]="issuesType?.crossPeriods || []"
      ></app-item-link-list>
    </div>
  </div>

</div>

