<div style="width: 100%">
  <div *ngIf="!isApproved" class="comment-label">{{ 'CANSEL_ISSUE_COMMENT' | translate }}</div>
  <div *ngIf="isApproved" class="comment-label">{{ 'ISSUE_COMMENT' | translate }}</div>
  <textarea
    style="width: 100%;" [autoResize]="true" rows="5" cols="50" pInputTextarea [(ngModel)]="comment"
  ></textarea>
</div>
<p-toolbar class="margin-top">
  <button
    pButton
    type="button"
    label="{{ 'BUTTON_SEND' | translate }}"
    class="button-send"
    [disabled]="!comment && required"
    (click)="onSubmitDialog()"
  ></button>
</p-toolbar>
