<div class="main-container">
  <div class="scroll-container">
    <div class="content">
      <div class="empty-space"></div>

      <!-- Картинка с собачкой-космонавтом Доки -->
      <img
        src="./assets/img/special-pages/space-dog.png"
        width="773"
        height="728"
        alt="space dog image"
      />

      <!-- Надпись "Упс, что-то пошло не так..." -->
      <h2 class="font-size-28px">
        {{ 'SMTH_WENT_WRONG' | translate }}
      </h2>

      <!-- Описание ошибки для пользователя -->
      <span class="description flex mt-8 mb-30">
        {{ 'SMTH_WENT_WRONG_DESCRIPTION' | translate }}
      </span>

      <!-- Кнопка "Вернуться на главную" -->
      <button
        pButton
        [routerLink]="['/']"
        [label]="'BUTTON_GO_INDEX' | translate"
      ></button>

      <div class="empty-space"></div>
    </div>
  </div>
</div>
