<!-- <только если не нажата кнопка "Далее"> -->
@if (!nextStepClickedSignal?.()) {
<!-- Шаг проверки персональных данных пользователя, требуемых для выпуска ЭЦП -->
<app-external-creation
  [(personalData)]="personalData"
  [(nextStepClickedSignal)]="nextStepClickedSignal"
  [dummy]="true"
  [provider]="provider"
>
</app-external-creation>
} @else {
<!-- <только если требуется установка (задание) пароля при выпуске ЭЦП> -->
@if (provider?.ui?.requirePasswordSetup) {
<!-- Форма создания пароля для ЭЦП -->
<div class="validation-container">
  <div class="validation-container__description">
    {{ 'PROFILE_SET_PASSWORD_FOR_El_SIGNATURE' | translate }}
  </div>
  <div class="validation-container__form">
    <!-- Поля ввода создаваемого пароля и его "повтора" для проверки корректности ввода -->
    <fpc
      [formData]="fpcConfig"
      (formSubmit)="validate($event)"
      [submit$]="submitForm$"
    ></fpc>
  </div>
  <p-toolbar class="margin-top">
    <!-- Кнопка "Подтвердить" -->
    <p-button
      label="{{ 'SIGNATURE_SUBMIT_BUTTON' | translate }}"
      [loading]="loading | async"
      (onClick)="submitForm$.next()"
    ></p-button>
  </p-toolbar>
</div>
} @else {
<app-info>{{ 'LOADING' | translate }}...</app-info>
} }
