<div class="container-fluid">
  <p-toolbar class="title">
    <h1>
      {{ 'CHANGE_PASSWORD' | translate }}
    </h1>
  </p-toolbar>
  <div class="col-lg-9 col-12 p-0">
    <app-users-profile-password
      *ngIf="settingsFacade.getData()?.general?.authType !== 'sso'"
      (submitChangePassForm)="changePass($event)"
      [result]="usersProfilePasswordFacade.getData$() | async"
      [loading]="usersProfilePasswordFacade.loading$() | async"
      [loading$]="usersProfilePasswordFacade.loading$()"
    ></app-users-profile-password>
  </div>
</div>
