.dgroup {
  position: relative;
  margin-bottom: 24px;
}

.dwidget2 {
  overflow: hidden;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 112, 255, 0.16);
  background: #fff;
}
