.footer__main {
  display: flex;
  justify-content: center;
  width: 522px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 16px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;

  @media (max-width: 767px) {
    width: 100%;
    border: none;
    padding-bottom: 30px;
  }

  .version {
    position: absolute;
    bottom: 10px;
    left: 15px;
    border-radius: 5px;
    padding: 5px;
    background: transparent; // var(--surface-card)
    color: var(--text-color);
    filter: opacity(0.85);
  }
}

.footer__logo {
  width: 162px;

  & .mat-icon {
    width: 162px;
    height: 23px;
  }
}
