<section>
  <h1 class="h0">{{ 'TITLE_RECOVERY' | translate }}</h1>
  <form
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()"
    class="display-flex-column"
  >
    <ng-container *ngIf="!status?.success; else inProcess">
      <p-card class="auth__form mb">
        <div class="custom-form-field">
          <label class="custom-form-field__label">{{
            'AUTH_EMAIL_ACCOUNT' | translate
          }}</label>
          <input
            pInputText
            [formField]="passwordForm"
            formControlName="email"
            id="auth-restore-input-email"
          />
        </div>
      </p-card>
      <button
        pButton
        label="{{ 'AUTH_RESTORE_LINK' | translate }}"
        type="submit"
        class="full mb-20"
        [disabled]="loading"
        id="auth-restore-confirm-button"
      ></button>
    </ng-container>
    <ng-template #inProcess>
      <p-card class="auth__form mb" id="auth-restore-success-message">
        {{ 'AUTH_RESTORE_PASS_NOTIFICATION_MESSAGE' | translate }}
      </p-card>
    </ng-template>
    <button
      pButton
      routerLink=""
      class="p-button-link"
      id="auth-restore-back-button"
      label="{{ 'AUTH_BACK_LINK' | translate }}"
    ></button>
  </form>
</section>
