<div class="main-container">
  <div class="scroll-container">
    <div class="content">
      <div class="empty-space"></div>

      <!-- Картинка с собачкой-космонавтом Доки -->
      <img
        src="./assets/img/special-pages/surfing-dog.png"
        width="773"
        height="728"
        alt="surfing dog image"
      />

      <!-- Надпись "Страница временно недоступна" -->
      <h2 class="font-size-28px">
        {{ 'TEMP_UNAVAILABLE' | translate }}
      </h2>

      <!-- Надпись "Пожалуйста, попробуйте обновить страницу позже" -->
      <span class="description flex mt-8 mb-30">
        {{ 'TEMP_UNAVAILABLE_DESCRIPTION' | translate }}
      </span>

      <!-- Кнопка "Вернуться на главную" -->
      <button
        pButton
        [routerLink]="['/']"
        [label]="'BUTTON_GO_INDEX' | translate"
      ></button>

      <div class="empty-space"></div>
    </div>
  </div>
</div>
